section {
	background-color: #6d6875;
	width: 800px;
	height: 800px;
}

/*Percentages are relative to parent element for the most part.

however, could be relative to the font size of the element.
Dependent on property itself.
*/
div {
	background-color: #e5989b;
	width: 50%;
	height: 50%;
}

h1 {
	font-size: 40px;
	border: 1px solid black;
	line-height: 200%;
}

h2 {
	font-size: 2em;
	margin-left: 1em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

article {
	font-size: 30px;
}

#button1 {
	font-size: 30px;
	padding: 0 30px;
	border-radius: 15px;
	background-color: #2a9d8f;
	color: white;
}

/*em scales to size*/
#button2 {
	font-size: 1 em;
	padding: 0 1em;
	border-radius: 0.5em;
	background-color: #2a9d8f;
	color: white;
}

/*ems scale to parent.  size can stack*/
ul {
	font-size: 1.5em;
}

/*rem values are relative to the root html elment, not to the parent element*/

#rems h2 {
	font-size: 3rem;
}

#rems h3 {
	font-size: 2rem;
}

#rems ul {
	font-size: 0.8rem;
}
